<h1>Outbox</h1>
<% unless @threads.blank? %>
  <% for thread in @threads do %>
    <% last_message = Message.find(:all, :conditions => ["thread_id = ? AND originator_id = ?", thread.id, @current_user], :order => 'created_at').last %>
    <div style='float: left; width: 100px;'>To : <%= last_message.follower.name %></div>
    <div style='float: left; width: 200px;'><%= link_to(thread.title, {:action => 'show', :id => thread.id, :location => @location }) %></div>
    <div style='float: left; width: 200px;'><%= thread.body %></div>
    <div style='float: left; width: 100px;'><%= link_to('delete', {:action => 'destroy', :id => thread.id, :location => 'outbox' }) %></div>
    <br style='clear: left' />
  <% end %>
<% else %>
  NO threads
<% end %>